-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEA4mcbOuKOyS9/8ZZpLxnWYgp1iCLk9zK1dqNbkmx0cO7LwF9E
/zegzbYgn6gDfyir1LUBTjFPyEVovPlFPgh+a4j7Vg2BsxQH/QP1eMlKgI2JVIvD
6FPuTmr9HLT9uLboNvNZ9kEdtxCuI85FDVvOWeRC9WoNtda0AZU1F0/BD4A/meem
fYZawwDu2VyyzCdsfOM3hmcWFQp1+2foP/C8KIxToNaPXYU8FhVylK5FfoHr0ZQ7
fL97dYAK1SNy/N/9Ef4t+ZmO4nYcMQ95GgJ6mcBIQWNarTdl9H5TtYq7cqudms1X
Lo7rnbkOVbRS9K8SzdIoueB7vyKz/piZdMKaaQIDAQABAoIBAQCzAKJe5FHQb2XR
NQLk4qDF008p26z8ZXNj4bS9CFLoF2WxK6H5x5m0C5Ovp79cAmQZQSNPF13lEjvF
bbB5Y23Qx/UwDG3HkMbgHQkv/raQ/VbfKcIzJmj8R0roL5GLQdJH4A/4y3MbEm0c
kjG2Zie4muj18Gv2oVKhDb90NvKFtXu8wr5PGwUfxRDgd3XOKqrjPdb1K+6YElmo
2OVo1eeS3uA97fOoVDnuyye0rh0jUechUCiCCrBQp82RmBslzt5X4VugD6JUJAJJ
OK0TcU0j0PncX3X0PVh2PQtfWYF4cUFi2Cp36JmKE6e5mCtFxTvvyACIoeD6s1GW
wWKTTt2hAoGBAPeIUVelpm19MYkGnWIOcXrUgI6YWfOXaDstKqsvciP6QtbiqzTf
GVjZffk8/tAkuf29qC3fJeHi9O+uLRLWZm9+fn/wW8LyNarfuQmo/gwWIqpqHRsh
S9GtqVcmkniHnR7i/YhHlp4PCWOm6AIlgY3LzKx8RSOwBL4KQ1ATbQQ7AoGBAOol
wItit7Wl4iEQFm+U9WpB2vYlVO6daB7EWHCio77U+CuJLQuSa+BgQdT2B/v2xuPn
defRwaqDDJjVRt0O1Efcdl/PZqcznBFx7kHZcvBx/0DkeBO8M+zfcsKiJ5FxlZ7A
iftTzh+JpBPAn8l82IiUcKyTcSnVEumIkyLH+OWrAoGAa07aTI/QXWjHn6qRcd/n
DCOxc5/SZwp9MiI7fCi+Z6Bnd3aeV/Zbq6vls7XglWVGiBy/GtvBNXLJUlqEycTO
dYk118rgTNvpriD8u5ZaQ+0YrB4Cbi96CfUqE1DycHQCBlDLLlgykGTeYigKLlwK
FOmD2kapRnZZJ/WVBtLVEN8CgYAhu+KrskNJdmbH4Kt60/kvn+FOCT7dSexQUnVz
dNsmiURf8Vl+C1BjeTrC1dd8o6cv+o7wITZHvK257zBQdOx8lfSwBQ+DE1pu4P00
m4GFxsbBsKjkHv9UJzU/eWE+ASFPR+oZPY+613e+KMhcnRINS2WYV328Syh4YObh
4fGoFQKBgQCAB8MwW3lgZoB5asMZyetXAbjs2wz47/2sTjq35jc6FC/fFI4GO1LJ
gAPfsaHHc4l2csDmqiHtkresn+8x4unrVa8XPq5BffhenEtX6xHFzB8lZ6VLA2qk
RXuk3PvP8AiMiZ5MqkJCgACtCFoAqllMawt6Bf9YmDp/Zu20w4ToZg==
-----END RSA PRIVATE KEY-----
-----BEGIN CERTIFICATE-----
MIIDYDCCAkgCCQCWRw9fx6bzKDANBgkqhkiG9w0BAQUFADByMQswCQYDVQQGEwJE
SzEPMA0GA1UECAwGU2VsYW5kMRQwEgYDVQQHDAtDcG9wZW5oYWdlbjEQMA4GA1UE
CgwHTU9DIEEvUzEOMAwGA1UEAwwFKi5kZXYxGjAYBgkqhkiG9w0BCQEWC3NzbEBt
b2MubmV0MB4XDTE1MDQxNzA4Mzc0N1oXDTE2MDQxNjA4Mzc0N1owcjELMAkGA1UE
BhMCREsxDzANBgNVBAgMBlNlbGFuZDEUMBIGA1UEBwwLQ3BvcGVuaGFnZW4xEDAO
BgNVBAoMB01PQyBBL1MxDjAMBgNVBAMMBSouZGV2MRowGAYJKoZIhvcNAQkBFgtz
c2xAbW9jLm5ldDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAOJnGzri
jskvf/GWaS8Z1mIKdYgi5PcytXajW5JsdHDuy8BfRP83oM22IJ+oA38oq9S1AU4x
T8hFaLz5RT4IfmuI+1YNgbMUB/0D9XjJSoCNiVSLw+hT7k5q/Ry0/bi26DbzWfZB
HbcQriPORQ1bzlnkQvVqDbXWtAGVNRdPwQ+AP5nnpn2GWsMA7tlcsswnbHzjN4Zn
FhUKdftn6D/wvCiMU6DWj12FPBYVcpSuRX6B69GUO3y/e3WACtUjcvzf/RH+LfmZ
juJ2HDEPeRoCepnASEFjWq03ZfR+U7WKu3KrnZrNVy6O6525DlW0UvSvEs3SKLng
e78is/6YmXTCmmkCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEAfZYa8HCWoti1vCSa
++w/99txXeEIHSJP5EH+J+5444UMmTChL0DNGK7En+9eFTK8uQ8ZMmtkVgRD7gW5
Hsa7xkXurpVPX08ffD7qqi/Ctu3nqZnsNLgwmaiVn0cjcCtMw5kJIoie16X3jKVl
lACczsNZrwc14MvIClqONgiWGjgnVepbf6WddRfoescji3NcmErNEl9O1UUZ/eZW
PzZGfqKcbXVFQgtcgs1bztO43t4W1LknzNqSsJqm16pYh1FTH9ajzfutZWycjDzm
VVuawTzCJrwv1N54Q5WbLMzEQbElXmNUwdmEgpf8pSQNSm6hRXOGBIz5DrIs/LNE
DwRzGw==
-----END CERTIFICATE-----
